# Python bytecode
__pycache__/
*.pyc

# Type checking cache
.mypy_cache/

# Virtual environment
venv/
env/

# IDE-specific files
.vscode/
.idea/

# Logs
logs/

# Artifacts
artifacts/

# Data
data/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db
